<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/50bd7f66-2a60-430c-b68d-824af74ecafe/resourceGroups/Nhattpm98/providers/Microsoft.Web/sites/nhattpm98-freelancejob-api</ResourceId>
    <ResourceGroup>Nhattpm98</ResourceGroup>
    <ApiResourceId>/subscriptions/50bd7f66-2a60-430c-b68d-824af74ecafe/resourceGroups/Nhattpm98/providers/Microsoft.ApiManagement/service/nhattpm-freelancejobapi/apis/freelancejobapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nhattpm98-freelancejob-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>95cf69fa-d900-457b-925d-0fff413087e9</ProjectGuid>
    <MSDeployServiceURL>nhattpm98-freelancejob-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nhattpm98-freelancejob-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$nhattpm98-freelancejob-api</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>